* {
    box-sizing: border-box;
}

body {
    background: url("./img/tug-of-war.png") no-repeat center center fixed;
    background-size: cover;
    font-family: "Gabarito", sans-serif;
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.logo {
    text-align: end;
}

.logo img {
    max-width: 150px;
    width: auto;
}

/* Caixa principal do jogo */
.conteudo-jogo {
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 5px #ff1b7b;
    margin: 30px auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    width: 70%;
}

.conteudo-jogo:hover {
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 5px #19caca;
}

#container {
    padding: 20px;
    height: 100%;
    width: 100%;
}
  
/* Títulos e textos */
h1,
h2,
p {
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
}
  
button {
    padding: 20px 40px;
    display: flex;
    margin: 30px auto;
    border: none;
    background: #ff1b7b;
    color: white;
    cursor: pointer;
    transition: background 0.3s;
    font-size: 1.4em;
}
  
button:hover {
    background: #19caca;
}

#escolherBtn {
    margin-top: 80px;
}

label {
    color: white;
    padding: 20px 0;
    width: 100%;
    justify-content: center;
}

.inputsPersonagens {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    margin: 30px 0 70px;
}

input {
    justify-content: space-around;
    font-size: 1.4em;
    padding: 5px;
}

#comecarBtn {
    margin: 30px auto;
}

#resultadoBtn {
    display: none;
}

.selecionarPersonagens, .telaResultado {
    display: none;
}

h1 {
    font-size: 2em;
}

h2, label {
    font-size: 1.8em;
}

p {
    font-size: 1.2em;
}

.titulo h1 {
    color: black;
    font-size: 2.5em;
    font-weight: 700;
}