* {
    box-sizing: border-box;
}

body {
    background: url("./img/tug-of-war.png") no-repeat center center fixed;
    background-size: cover;
    font-family: "Gabarito", sans-serif;
    margin: 0;
    height: 100vh;
    width: 100vw;
}

.logo {
    text-align: end;
}

.logo img {
    max-width: 150px;
    width: auto;
}

h1 {
    color: #181818;
    font-size: 2.5em;
    font-weight: 700;
}

/* Caixa principal do jogo */
.conteudo-jogo {
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 5px #ff1b7b;
    margin: 30px auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    margin-top: 2em;
    width: 70%;
    transition: background 0.5s ease, box-shadow 0.5s ease;
}

.conteudo-jogo:hover {
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 5px #19caca;
    transition: background 0.5s ease, box-shadow 0.5s ease;
}

#container {
    padding: 20px;
    height: 100%;
    width: 100%;
}
  
/* Títulos e textos */
h1, h2, p {
    display: flex;
    justify-content: center;
    text-align: center;
}

h2, p, label {
    color: #fafafa;
}

h2 {
    font-size: 1.8em;
}

p {
    font-size: 1.3em;
}

label {
    font-size: 2.1em;
}

button {
    padding: 20px 40px;
    display: flex;
    margin: 30px auto;
    border: none;
    background: #ff1b7b;
    color: white;
    cursor: pointer;
    transition: background 0.3s;
    font-size: 1.4em;
}
  
button:hover {
    background: #19caca;
}

.telaInicio h2 {
    margin: 30px auto 60px;
}

.telaInicio button {
    margin-top: 0;
}

.selecionarPersonagens {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}

label {
    padding: 20px 0 30px;
    width: 100%;
}

.inputsPersonagens {
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
    margin: 30px auto;
}

input {
    font-size: 1.4em;
    font-weight: 600;
    padding: 5px;
}

.selecionarPersonagens, .telaResultado, .informacoesResultados {
    display: none;
}

.telaResultado, .informacoesResultados {
    flex-direction: column;
}